
*, *::before, *::after {
  box-sizing: border-box;

}

body {
  margin: 0;
  background-color: darkcyan;
}

.calculator-grid {
  display: grid;
  justify-content: center;
  margin-top: 5rem;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minMax(7rem, auto) repeat(5, 6rem);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, .75);
}

.calculator-grid > button:hover {
  background-color: rgba(255, 255, 255, .9);
}

.calculator-grid > button:focus {
  background-color: rgba(255, 255, 255, .9);
}

.span-two {
  grid-column: span 2;
}

/* This means that the output will take the entire first row 
Technically going from the leftmost column to the rightmost column
*/
.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, .75);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: .75rem;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: rgba(255, 255, 255, .75)

}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
}